/* 
 * 1. Header
 * 2. Page Container
 */


/* 1. Header */

#header {
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #313131;
}

#logo {
  width: 170px;
  height: 50px;
}

#top-menu {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  list-style: none;
}

#top-menu .menu-item { padding: 1rem; margin: 0 1rem; font-size: 18px; }


/* 2. Page Container */
.page-container {
  padding: 1.5rem 1rem;
}


